<div>
  <div class="row">
    <app-search></app-search>
    <div class="col s10 m3 center" *ngFor="let movie of movies">
      <app-movie-card
        [movie]="movie"
        (updateFavorites)="handleFavoriteUpdate(movie)"
        (updateWatchlist)="handleWatchlistUpdate(movie)"
      >
      </app-movie-card>
    </div>
  </div>

  <div *ngIf="showPagination && totalPages > 1" class="pagination">
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="loadMovies(currentCategory, $event)"
    >
    </app-pagination>
  </div>
</div>
